			@font-face {
				font-family: 'MerriweatherRegular';
				src: url('fonts/merriweather-regular-webfont.eot');
				src: url('fonts/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
				url('fonts/merriweather-regular-webfont.woff') format('woff'),
				url('fonts/merriweather-regular-webfont.ttf') format('truetype'),
				url('fonts/merriweather-regular-webfont.svg#MerriweatherRegular') format('svg');
				font-weight: normal;
				font-style: normal;
			}
			@font-face {
				font-family: 'MerriweatherBold';
				src: url('fonts/merriweather-bold-webfont.eot');
				src: url('fonts/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
				url('fonts/merriweather-bold-webfont.woff') format('woff'),
				url('fonts/merriweather-bold-webfont.ttf') format('truetype'),
				url('fonts/merriweather-bold-webfont.svg#MerriweatherBold') format('svg');
				font-weight: normal;
				font-style: normal;
			}
			
  .content
{
 width: 100px;
 margin: 0 auto;
}
 .legend-title {
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 90%;
    }
  .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    }
  .legend-scale ul li {
    display: block;
	float:left;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    color:White;
       list-style: none;
    }
   ul.legend-labels li span {
    display: block;
    float: left;
    display:block; float:right;padding:5px;
    }
  .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .wax-legend a {
    color: #777;
    }